*.dll
*.suo
*.opensdf
*.obj
*.pdb
*.pyd
*.sdf
build
*.*~
*.txt
*.idea
*.pyc
*.so
*.exp
*.lib
*.sh
example/python/x64
example/python/ensembl_chr21.fa
Makefile
example/python/libboost_python.so.1.59.0
test/test
test/fasta_test
test/packed_test
.c9/

